.comments {
    margin-top: 50px;
}

#footer {
    margin-top: 100px;
    margin-bottom: 35px;
}

#cc {
    height: 16px;
    display: inline-block;
}

#main {
    font-size: 16px;
}

#sidebar {
    padding-left: 20px;
}

body {
    padding-top: 80px;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.navbar-brand > img {
    height: 50px;
}

.navbar-text {
    line-height: 20px;
}

kbd, samp {
    padding-bottom: 30px;
}

samp.output {
    font-weight: bold;
}

#accounts > li > a {
    padding: 8px;
}

#accounts > li > a > img {
    height: 34px;
}

#accounts > li > a > span {
    padding-left: 8px;
}

.icon {
    padding-right: 10px;
    height: 16px;
}

nav.navbar {
    height: 50px!important;
}

#baseline > span.kwd,
#baseline > span.pln {
    font-weight: bold;
}

div.summary {
    padding-bottom: 30px;
    border-bottom: solid #EEEEEE 2px;
}

p.excerpt {
    padding-top: 5px;
}

span.author {
    display: none;
}

.body {
    text-align: justify;
}

.excerpt, .sticky {
    border-left: solid thick #EEEEEE;
    padding: 20px;

}
.sticky {
    border-bottom: none!important;
    margin-bottom: 20px;
}
.timestamp {
    font-style: italic;
}

.jumbotron {
    padding: 20px;
}
