body {
    padding-top: 70px;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
}

.navbar-brand > img {
    height: 50px;
}

.navbar-text {
    line-height: 20px;
}

kbd, samp {
    padding-bottom: 30px;
}

pre {
    border: 1px solid #ccc!important;
    padding: 5px 10px !important;
    font-size: 14px;
    font-family: monospace;
}

samp.output {
    font-weight: bold;
}

#accounts > li > a {
    padding: 8px;
}

#accounts > li > a > img {
    height: 34px;
}

#accounts > li > a > span {
    padding-left: 8px;
}

.icon {
    padding-right: 10px;
    height: 16px;
}

nav.navbar {
    height: 50px!important;
}

#baseline > span.kwd,
#baseline > span.pln {
    font-weight: bold;
}

/*#mobile-menu.in {*/
    /*background-color: #222;*/
/*}*/