{% extends "base.html" %}

{% block title %}
    cyberbikepunk | Blog
{% endblock %}

{% block main_content %}
    {% if notebook['cells'] %}
        {% for cell in notebook['cells'] %}

            {% if cell['cell_type'] == 'markdown' %}
                {# ------------- #}
                {# MARKDOWN CELL #}
                {# ------------- #}
                {% for line in cell['source'] %}
                    {{ line | markdown }}
                {% endfor %}

            {% elif cell['cell_type'] == 'code' %}
                {# --------- #}
                {# CODE CELL #}
                {# --------- #}
                {% if cell['source'] %}
                    <pre class="highlight prettyprint">{% for line in cell['source'] %}{{ line }}{% endfor %}</pre>
                {% endif %}

                {% set outputs = cell['outputs'] %}
                {# ------------ #}
                {# CELL OUTPUTS #}
                {# ------------ #}

                {% if outputs %}
                    {% if outputs[0]['name'] == 'stdout' %}
                        {# --------------- #}
                        {# Standard output #}
                        {# --------------- #}
                        <samp> {% for line in outputs[0]['text'] %}
                            {{ line }}<br>
                        {% endfor %} </samp>
                        <p></p>
                    {% endif %}

                    {% if outputs[1] %}
                        {% if outputs[1]['data']['text/plain'] %}
                            {# ----------- #}
                            {# Cell output #}
                            {# ----------- #}
                            <samp class="output"> {% for line in outputs[1]['data']['text/plain'] %}
                                {{ line }}
                            {% endfor %} </samp>
                            <p></p>
                        {% endif %}
                    {% endif %}

                {% endif %}

            {% endif %}

        {% endfor %}
    {% endif %}
{% endblock %}