{% extends "base.html" %}

{% block main %}
    <div id="archive">
        {% for post in archive.jumbo_posts %}
            <div class="row jumbotron">
                {{ post.content | markdown }}
            </div>
        {% endfor %}
        {% for post in archive.sticky_posts %}
            <div class="row summary sticky">
                <h1><a href="{{ post.slug }}" title="{{ post.title }}">{{ post.title }}</a></h1>
                <span class="timestamp">{{ post.timestamp }}</span><span class="author"> | {{ post.author }}</span>
                <br><br>{{ post.excerpt | markdown }}
            </div>
        {% endfor %}
        {% for post in archive.normal_posts %}
            <div class="row summary">
                <h1><a href="{{ post.slug }}" title="{{ post.title }}">{{ post.title }}</a></h1>
                <span class="timestamp">{{ post.timestamp }}</span><span class="author"> | {{ post.author }}</span>
                <br><br>{{ post.excerpt | markdown }}
            </div>
        {% endfor %}
    </div>
{% endblock %}