{% extends "bootstrap/base.html" %}

{% block title %}
    {{ profile.greeting }}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename=profile.favicon) }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div id="content" class="container">
        <div class="row">
            <div id="main" class="col-md-8 col-sm-12 col-xs-12">
                {% block main %}
                    {# archive or post #}
                {% endblock %}
            </div>
            <div id="sidebar" class="col-md-4 col-sm-12 col-xs-12">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <div id="footer" class="container">
        <small class="text-left">Powered by Flask and Bootstrap. CC licensed. Source code on <a href="http://github.com/cyberpunk/blog">github</a></small>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=py"></script>
{% endblock %}
